body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("https://img.freepik.com/premium-vector/abstract-fluid-background-with-colorful-gradient_747896-5300.jpg?w=1060");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100vw;
    color: white;
    padding: 0px;
    margin: 0%;

}

section {
    height: 100vh;
    width: 100vw;
    padding: 0px;
}

:root {
    --first: rgb(72, 164, 255);
    --second: rgb(0, 85, 170);
    --backgr: rgb(255, 255, 255);
    --color: rgb(10, 13, 45);
}
.btn {
    /* align-self: center; */
    background-color: rgba(0, 0, 0, 0.21);
    border: 1px solid rgb(1, 0, 0);
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    width: 120px;
    }
    .btn:hover {
        background-color: #ffffff;
        color: #000000;
        box-shadow: 0 0 10px rgb(255, 255, 255);
        
        }
        .btn:active{
        background-color: #ffffff;
        color: #000000;
        box-shadow: 0 0 10px rgb(255, 255, 255);
        }    
    /* @keyframes colors {
        0% {background-image: linear-gradient( rgb(85, 228, 247), rgb(138, 1, 122));}
        50% {background-color: rgb(25, 214, 189);}
        /* 50% {background-image: linear-gradient(rgb(1, 102, 115),rgb(250, 118, 235), rgb(5, 42, 46));} */
        /* 100% {background-image: linear-gradient( rgb(125, 1, 111), rgb(85, 228, 247));}
        
        }      */
a {
    text-decoration: none;
    color: white;
}

nav {
    margin-top: 0px;
    height: 50px;
background-color: var(--color);
position: fixed;
width: 100vw;
}

nav div {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    /* box-shadow: 0px 10px 10px gray; */
}

nav a {
    color: var(--backgr);
}

nav a:hover {
    color: white;
    text-shadow: 0px 0px 2px white;
}
nav a:active{
    text-shadow: 0px 0px 5px white;
    text-decoration: underline;

}
.home {
    width: 100vw;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.home h1{
    font-size: 55px;
}
.left,
.right {
    width: 50%;
    height: 100%;

}

.left {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
}
.left *{
    margin-left: 40px;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.services {
    width: 100%;
   
}


.content {
    height: 20%;
    text-align: start;
    display: flex;
    justify-content: space-around;
}
.content .left{
    width: 80%;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80%;
    background-image: linear-gradient(to right, rgb(0, 113, 128), rgb(250, 118, 235));
background-size: cover;
background-position: center;
/* animation-name: colors;
animation-duration: 5s;
animation-iteration-count: infinite; */
    /* margin-top: 50px; */

}
.cards img{
    width: 60px;
    height: 60px;
    margin-left: 10px;
}
.services .card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 300px;
    margin: 20px;
    height: 200px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.269);
    filter: grayscale(100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card:hover {
    background-color: aliceblue;
    box-shadow: 0 0 20px rgb(253, 253, 253);
    color: palevioletred;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
}
.about{
    display: flex;
    /* background-image: linear-gradient(to right, rgb(0, 113, 128), rgb(250, 118, 235));
    background-size: cover;
    background-position: center; */
    background-color: var(--color);
}
.about .right{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    height: 100%;
}
.about .card{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 40%;
    margin: 20px;
    height: 40%;
    border-radius: 30px;
    background-image: linear-gradient( rgb(0, 113, 128), rgb(250, 118, 235));
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}
.about img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
}
.contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    color: white;
    text-align: center;
    }
    
    .contact h2 {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
    
    }
    .contacts{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    }
    .contacts img{
    height: 70px;
    width: 70px;
    }
    
    .contact iframe{
    margin: 0 auto;
    height: 400px;
    width: 800px;

    }
    .contact h2 {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
    
    }
footer{
    background-color: var(--color);
    text-align: center;
}



@media(max-width:992px){
    nav{
        position:fixed;
    }
    nav div {
    margin: 0 auto;
    width: 80%;}
 .home{
height: 100vh;
display: flex;
flex-flow: column ;
 }
 .home .right{
    order: 1 ;
 }
 .home .left{
    order: 2;
 }
 .home img{
    width: 200px;
    height: 200px;
    margin: 30px;
    margin-top: 8vh;

 }
 .home h1{
    font-size: xx-large;
 }
 section{
    height: auto;
 }   
 .cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
     padding:0px;
 }
 .cards .card{
    margin: 6px;
    width: 45%;
    height: 28vh;
 }
 .content{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
 }

 .services .left{
    width: 70%;

 }
 .services .right{
    width: 30%;
 }
 .about{
    display: flex;
flex-flow: column wrap;
 }
 .about .left{
    order:2;
 }
 .about .right{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    /* height: 2000px; */
 }
 .left *{
    margin-left: 10px;
    margin-right: 10px;
}
 .about .card{
    margin: 10px;
    width: 42%;
 }
.about .left{
    width: 100%;
}
 .left,.right{
    width: 100vw;

 }
.btn{
    margin: 20px auto;

}
p ,h1{
    text-align: start;
    
}
.contact iframe{
    margin: 0 auto;
    height: 400px;
    width: 90%;
    /* margin-right: 10%; */
    }
    .card p{
        text-align: center;
    }
}
